

<li>

    <label for="drop-2" class="toggle">Drop Down <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
    <a href="#">Tài Khoản <span class="fa fa-angle-down" aria-hidden="true"></span></a>
    <input type="checkbox" id="drop-2" />
    <ul>
        <li><a href="blog.html">@ViewBag.Cong</a></li>
        <li><a asp-action="Logout" asp-controller="Login">Logout</a></li>
        
    </ul>
</li>