@model IEnumerable<Ecommerce.Areas.Admin.Models.Brand>


@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
  